* {
  margin: 0;
  padding: 0;
  color: black;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: rgb(250, 181, 156);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.head-block {
  background-color: wheat;
  width: 90%;
  height: 90vh;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.text-box {
  height: 100%;
  width: 25%;
  background-color: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 100px;
}

.image-box {
  height: 100%;
  width: 75%;
}

#music {
  background: url(../img/daniel-fontenele-S4KVecxgCDo-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#film {
  background: url(../img/jakob-owens-CiUR8zISX60-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.text {
  transform: rotate(-90deg);
  margin-top: 50px;
}

.head-block .hover {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: 0.2s;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.head-block .hover .fa {
  position: absolute;
  top: -100px;
}

.head-block:hover .hover {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.267);
  transition: 0.2s;
}

.head-block:hover .hover .fa {
  transition: 0.2s;
  top: 45%;
  margin: auto;
}

@media only screen and (max-width: 950px) {
  * {
    font-size: 15px;
  }
  .head-block {
    height: 60vh;
  }
}

@media only screen and (max-width: 620px) {
  * {
    font-size: 12px;
  }
  .head-block {
    height: 40vh;
  }
  #logo {
    width: 50px;
  }
}

@media only screen and (max-width: 486px) {
  * {
    font-size: 11px;
  }
}
