* {
  margin: 0;
  padding: 0;
  color: black;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #000000;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

.head-block {
  background-color: white;
  width: 90%;
  height: 90vh;
  margin-top: 50px;
  margin-bottom: 50px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
}

.text-box {
  height: 100%;
  width: 25%;
  background-color: white;
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.logo {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 100px;
}

.image-box {
  height: 100%;
  width: 75%;
}

/* ------ */

#music {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#music picture {
  position: absolute;
  height: 100%;
}

#music picture img {
  height: 100%;
}

/* ---- */

#film {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#film picture {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#film picture img {
  width: 35%;
}

.text {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  margin-top: 50px;
}

<<<<<<< HEAD
.head-block .hover {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  overflow: hidden;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.head-block .hover .fa {
  position: absolute;
  top: -100px;
}

.head-block:hover .hover {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.267);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.head-block:hover .hover .fa {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  top: 45%;
  margin: auto;
}

.h2,
.p {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
  text-align: center;
=======
/* HEADER + NAV */
.wrapper {
    background-image: url('../img/c5a5f92b530de2cf2c18e917c8a51ac60cb6.jpg');

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
    width: 100%;
    height: 100vh;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

img {

    max-width: 100%;
}

header {
    position: fixed;
    z-index: 1;
    width: 100%;
    color: #fff;
    transition: all 2s;
}

nav {
    padding: 15px;
}

ul {
    display: flex;
    list-style: none;
}

li {

    padding: 10px;

}

.fixed-header a {
    color: black;
}

a.active {
    background-color: #f34236;
    color: white;
}

a.active:hover{
    color: white;
}

.button_head{
    width: 222px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f34236;
    border-radius: 30px;
    margin-top: 50px;
    transition: .1s;
}

.button_head:hover{
    border-radius: 10px;
    transition: .1s;
}

.fixed-header a.active:hover {
    color: black;
}

.left {
    margin-right: auto;
    font-size: 22px;
}

.fixed-header {
    background-color: #fff;
    color: black;
}

header a:hover{
    color: #f34236;

}

.sections1 h2{
    font-size: 60px;
>>>>>>> parent of 88031b9... port5
}

header {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

h1 {
  font-size: 50px;
  color: white;
}

.alogo {
  position: absolute;
  top: 20px;
  left: 20px;
}

.content {
  padding-top: 100px;
  width: 100%;
  height: 60vh;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-sizing: content-box;
  padding-bottom: 100px;
  position: relative;
}

.hover-content {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  overflow: hidden;
}

.content-reverse {
  flex-direction: row-reverse;
}

.content:hover .hover-content {
  background-color: rgba(0, 0, 0, 0.267);
  transition: 0.2s;
}

.content-img {
  width: 30%;
  height: 30vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-txt {
  line-height: 30px;
  position: relative;
}

.hover-content .fa {
  position: absolute;
  top: -100px;
  transition: 0.2s;
}

.content:hover .hover-content .fa {
  top: 45%;
  transition: 0.2s;
}

.content-txt h2 {
  margin-bottom: 20px;
}

.reverse {
  text-align: right;
}

.button-read {
  width: 150px;
  height: 40px;
  border: 1px solid black;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 20px;
  transition: 0.2s;
}

.button-read:hover {
  background-color: rgb(22, 22, 22);
  transition: 0.2s;
}

.button-read:hover a p {
  color: white;
  transition: 0.2s;
}

.button-content {
  display: flex;
  width: inherit;
  justify-content: flex-start;
}

.b-reverse {
  justify-content: flex-end;
}

.button-read a {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.content-main {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  padding-left: 80px;
  padding-top: 80px;
  padding-bottom: 100px;
}

.content-main h2 {
  font-size: 30px;
}

.content-main p {
  width: 70%;
  margin-top: 90px;
  line-height: 30px;
}

.content-main img {
  margin-top: 60px;
  width: 70%;
}

<<<<<<< HEAD
@media only screen and (max-width: 950px) {
  * {
    font-size: 15px;
  }
  .head-block {
    height: 60vh;
  }
  .h2,
  .p {
    width: 200px;
  }
  #film picture img {
    height: 105%;
  }
  .content-txt {
    line-height: 20px;
  }
  .content {
    padding-top: 30px;
    padding-bottom: 30px;
    flex-direction: column;
  }
  .content-txt h2 {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 655px) {
  * {
    font-size: 12px;
  }
  .head-block {
    height: 40vh;
  }
  .logo {
    width: 50px;
    left: 10px;
    top: 10px;
  }
  .h2,
  .p {
    width: 150px;
    margin: 5px;
  }
  .content-txt {
    line-height: 15px;
  }
  h1 {
    width: 50%;
    margin-left: 50px;
  }

  header {
    justify-content: flex-start;
  }
  .content-txt h2 {
    margin-bottom: 10px;
    font-size: 15px;
  }
  .content {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .content-img {
    width: 45%;
  }
}

@media only screen and (max-width: 486px) {
  * {
    font-size: 11px;
  }
=======
.button:hover{
    border-radius: 7px;
    transition: .1s;
}

.work{
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f3f3f3;
    width: 30%;
    box-shadow: rgba(58,78,95,0.2) 0 10px 16px, rgba(58,78,95,0.05) 0 -5px 16px;
    text-align: center;
    padding: 15px;
    margin: 20px;
    padding: 20px;
    padding-bottom: 40px;
    color: #333;
}

.works{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

h3{
    color: #333;
}

.button_head h3{
    color: white;
}

.s6{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 70px;
    padding-bottom: 70px;
}

.s6 h3{
    font-size: 35px;
}

.s6 h4{ 
    margin: 20px;
>>>>>>> parent of 88031b9... port5
}
